/* Estilos gerais para o corpo e elementos principais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-light.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
}

body {
    background-image: url(./assets/avatar-dark.jpg);
    background-size: cover; /* Para cobrir todo o fundo */
    background-position: center; /* Para centralizar a imagem */
    background-attachment: fixed;
    background-repeat: no-repeat; /* Para evitar a repetição da imagem */
    font-family: Arial, sans-serif;
    display: flow-root;
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    height: 100vh; /* Utiliza toda a altura da viewport */
    margin: 0;
    padding: 0;
}

body * {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
  }

#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
  }  

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 110px;
    border-radius: 50%; /* Deixa a imagem redonda, ajuste conforme necessário */
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

#switch {
    position: relative;
    width: 64px;
  
    margin: 4px auto;
}

#switch button {
    width: 50px;
    height: 50px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 2px;
    border-radius: 50%;
  
    position: relative;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
  
    animation: slide-back 0.2s;
  }

#switch button {
    animation: slide-in 0.2s forwards;
  }

#switch button:hover {
    outline: 8px solid var(--highlight-color);
  }

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
  }

ul {
    list-style: none;
  
    display: flex;
    flex-direction: column;
    gap: 16px;
  
    padding: 24px 0;
  }

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 16px 24px;
  
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
  
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  
    text-decoration: none;
    font-weight: 500;
  
    transition: background 0.2s;
  }  

ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
  }

.calendar {
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.month {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 500px;
    margin: auto;
}

.days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    font-weight: bold;
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
}

.day {
    width: 40px;
    height: 40px;
    display:flexbox;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}

.day-button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
}

.month h2 {
    font-size: 1em; /* diminui o tamanho da fonte */
    margin: 0;
}

.day {
    font-size: 0.8em; /* diminui o tamanho da fonte */
    padding: 2px;
}

.day-button:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

/* Estilos específicos para a página de horários (horarios.html) */
.slots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.slots {
    text-align: center; /* Centraliza o texto horizontalmente */  
    padding: 20%;

}

.slot {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: calc(25% - 15px); /*calcula para 3 caixas por linha*/
    height: 60px; /*Altura da caixa*/
    line-height: 40px; /* Centraliza verticalmente o texto */
    transition: background-color 0.3s;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.slot:hover {
    background-color: #f0f0f0;
}

.slots h3 {
    margin-bottom: 10px;
}

/* Estilos para o footer */

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
    border: 1px solid greenyellow;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .slot {
        width: calc(33.33% - 15px); /* Calcula o tamanho para 3 caixas por linha em telas menores */
    }
}

@media (max-width: 480px) {
    .slot {
        width: calc(50% - 15px); /* Calcula o tamanho para 2 caixas por linha em telas ainda menores */
    }
}
